# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias (esta es la más pesada)
node_modules
dist
dist-ssr
*.local

# Variables de Entorno (FUNDAMENTAL por seguridad)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Configuración de editores (VS Code, IntelliJ)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?